body > .header .logo {
  font-family: inherit;
}
body > .header .navbar .nav > li > a > .badge {
  position: absolute;
  top: 4px;
  right: 0;
  font-size: 75%;
}
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
  background: none;
  color: inherit;
}
body .user-panel > .info {
  padding-left: 10px;
}

/*# sourceMappingURL=style.map *//*# sourceMappingURL=style.map */

#dashboard-index .icon {
  top: 5px;
}
#dashboard-index .icon i {
  color: #ffffff;
}
#dashboard-index .inner p {
  font-size: 24px;
}
#dashboard-index .inner {
  padding: 10px 10px 10px 15px;
}
.event_at{
  display: none;
  margin-bottom: 10px;
}